.nav{
    display: grid;
    grid-template-areas: 
    'logo1 page login-cart';
}
.logo-page{
    grid-area: logo1;
    display: flex;
    justify-content: center;
}
.logo-page img{
    border-radius: 2rem;
}
/* }
Nav link 
*/
.nav-link{
    grid-area: page;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 2rem;
}
.nav-link li{
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 2rem;
}
.nav-link button{
    background-color: white;
    color: rgb(29, 29, 29)
}
/* }
Botão login e carrinho
*/
.login-cart{
    grid-area: login-cart;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 2rem;
    
}
.login-cart a{
    padding: 1rem;   
}
.login-cart button{
    background-color: white;
    color: rgb(29, 29, 29);
}
